footer {
    margin-top: 200px;
    background-color: #e0e5ea;

    p {
        margin: 0;
        font-size: 14px;
        color: #4f4f4f;
        font-weight: normal;
        font-style: normal;
        
        b {
            font-weight: bold;
        }
    }
}