//Colors
$white: #ffffff;
$black: #000000;
$blue: #1697ed;
$blue-lighten: #03b2ff;

//Typography
$font-family-sans-serif: 'Gotham Pro', sans-serif;


//Backgrounds
$promo-background: url("../images/middle-bg.png") no-repeat center top;
$main-background: url("../images/full-bg.png");