.home {
    .promo {
        margin-top: 150px;

        h1 {
            font-size: 48px;
            margin: 0px;
            text-transform: uppercase;
            font-weight: 900;
            font-style: normal;
            color: #fff;
        }

        p {
            font-size: 16px;
            color: #fff;
        }

        .btn {
            color: #0081c6;
            font-weight: bold;
            border-radius: 20px;

            .fa.fa-vk {
                color: #fff;
                background-color: #0081c6;
                padding: 5px 4px;
                border-radius: 5px;
            }
        }
    }

    .services {
        margin-top: 230px;

        .service {
            background-color: #fff;
            color: $brand-color;
            height: 100%;
            border-radius: 10px;

            -webkit-box-shadow: 0px 0px 79px -24px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 79px -24px rgba(0,0,0,1);
            box-shadow: 0px 0px 79px -24px rgba(0,0,0,1);

            .fa {
                display: block;
                font-size: 42px;
            }

            span {
                font-weight: bold;
                font-size: 16px;
                display: block;
                margin-top: 5px;
            }
        }
    }
}