.modes {
    h2 {
        color: $brand-color;
        font-size: 22px;
        font-weight: bold;
        font-weight: bold;
        display: block;
        margin: 100px auto!important;
    }

    h2:after {
        content: "";
        margin: 0 auto;
        display: block;
        width: 10%;
        height: 5px;
        background-color: $brand-color;
        border-radius: 5px;
        margin-top: 5px;
    }

    .mode {
        background: #fff url("../images/mode-bg.png") no-repeat right bottom;
        border-radius: 10px;
        padding-bottom: 1px;
        display: block;

        -webkit-box-shadow: 0px 14px 99px -35px rgba(0,0,0,.5);
        -moz-box-shadow: 0px 14px 99px -35px rgba(0,0,0,.5);
        box-shadow: 0px 14px 99px -35px rgba(0,0,0,.5);

        h4 {
            margin: 0;
            background: url("../images/mode-header.png") no-repeat center;
            background-size: cover;
            font-weight: bold;
            font-size: 22px;
            color: #fff;
            padding: 36px 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        span {
            display: block;
            font-size: 23px;
            color: rgba($brand-color, 0.7);
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
            margin-top: 40px;
        }

        b {
            display: block;
            font-weight: 900;
            font-size: 27.5px;
            color: rgba($brand-color, 0.7);
            margin: 0;
            margin-top: -10px;
            margin-bottom: 45px;
        }
    }
}