.profile-page {
    .profile {
        background-color: rgba(#0075b5, 0.17);
        border-radius: 10px;
        margin-top: 150px;
        margin-bottom: 200px;

        @media (max-width: 991px) {
            background-color: rgba(38, 163, 239, 1);
            margin-top: 10px;
            margin-bottom: 50px;

            -webkit-box-shadow: 0px 0px 79px -24px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 79px -24px rgba(0,0,0,1);
            box-shadow: 0px 0px 79px -24px rgba(0,0,0,1);
        }

        .avatar {
            max-width: 167px;
            min-width: 167px;
            min-height: 167px;

            a.change-btn {
                display: block;
                width: 100%;
                text-align: center;
                color: rgba(#fff, .6);
                text-decoration: none;
                font-size: 12px;
                background-color: rgba(#fff, .17);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 8px 0px;
                transition: $transition-duration;
            }

            a.change-btn:hover {
                color: #fff;
            }

            img {
                max-width: 167px;
                max-height: 167px;
                min-width: 167px;
                min-height: 167px;
                border-bottom-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            a.btn {
                text-align: center;
                width: 100%;
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                background-color: rgba(#fff, .17);
                border-color: transparent;
                transition: $transition-duration;
                margin: 5px 0px;
            }

            a.btn:hover {
                background-color: $brand-color;
                border-color: transparent;
            }

            a.btn.btn-light {
                font-weight: bold;
                color: $brand-color;
                background-color: #fff;
                border-color: #fff;
            }
        }

        h5 {
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;

            b {
                font-weight: bold;
            }
        }

        table {
            width: 100%;
            background: rgba(#fff, .17);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 323px;

            tr {
                td {
                    color: #fff;
                    padding: 0px 30px;
                }

                td:last-child {
                    text-align: right;
                }
            }

            tr:first-child {
                td {
                    padding-top: 30px;
                }
            }

            tr:last-child {
                td {
                    padding-bottom: 30px;
                }
            }

            tr.empty {
                td {
                    padding: 0px 0px;
                }
            }
        }
    }
}